<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Message KasihookUP Agent</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">

  <ion-card class="align">
    <ion-card-content class="post-list-content" class="align">
      <img src="./../../../../assets/images/agent.jpg"><br>
      <!-- <ion-card-title class="align" color="primary">"{{ pic.content }}"</ion-card-title> -->
    </ion-card-content>
  </ion-card>
 
  <ion-item>
    <ion-label color="primary">
      <p class="p">Active Chat</p>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" class="message"
        [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
        <b>{{ message.name }} {{ message.surname }}</b><br>
        <span>{{ message.msg }}
        </span>
        <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>