<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="goToSettings()" color="primary" vertical="end" slot="start" style="margin-left: 10px;"></ion-icon>
    <ion-title color="primary">About Kasi Hook Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-box">
    <ion-card style="color: #4c8fa3; font-weight: 500;" padding align="center">
      <img src="./../../../../assets/images/kasihookupz.png"><br>
      
      <ion-label padding>TERMS AND CONDITIONS OF USE</ion-label><br>
      <b><p>Last updated: 21 August 2021 </p></b><br>

      <ion-label padding>Terms & Conditions© Kasihookup Project 2019</ion-label>
            <p>
                Kasihookup is an online application platform which provides Adult Services.
            </p>
            <br>
            <p>The information provided through the service is collected by Kasihookup and if you feel offerded you may contact us.
            </p>
            <br>
            <p>
                Kasihookup may contain links to external websites that are not provided by or in any affiliated with Kasihookup. Please note that Kasihookup does not guarantee the accuracy, relevance, timeliness or completeness of any information on these external websites.
            </p>
            <br>
            <p>More T&C Coming.</p>
            <br>
            1.You are at least 18 years or older
            <br>
            2.You must have data in your device
            <br>
            3.Your device must have battery/ or being charged
            <br>
            <p> If you do not agree to these terms kindly refrain from using our service. </p>

    </ion-card>
  </div>
</ion-content>
