<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="goToSettings()" color="primary" vertical="end" slot="start" style="margin-left: 10px;"></ion-icon>
    <ion-title color="primary">About Hookup Coin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-box">
    <ion-card style="color: #4c8fa3; font-weight: 500;" padding align="center">
      <img src="./../../../../assets/images/kasihookupz.png"><br>
      
      <ion-label padding color="primary">TERMS AND CONDITIONS OF USE</ion-label><br>
      <b><p style="color: #4c8fa3; font-weight: 500;" padding align="center">Last updated: 21 August 2021 </p></b><br>

      <p style="color: #4c8fa3; font-weight: 500;" padding align="center"><b>The following list shows how the coin works in this app</b></p><br>
      <p style="color: #4c8fa3; font-weight: 500;" padding align="center">
        1 Coin = R0.10 <br>
        10 Coin's = R1<br>
        100 Coin's = R10<br>
        1000 Coin's = R100<br>
        10 000 Coin's = R 1000<br>
      </p><br>

      <p style="color: #4c8fa3; font-weight: 500;" padding align="center">To inteact with the app is free but to send messages you will be charge 1 coin<br>
        Every Other Payments happening in the application must follow those set rules<br>
        To Reload your Acount you can contact the agent on your wall screen and the agent will assist with that and other services<br>
        All funds can be with drawn by contacting the agent<br>
        You can share your Coins with other users using the app</p>

    </ion-card>
  </div>
</ion-content>
